section.catalog
    .container 
        h2.section-title WOMEN’S FASHION
        p.section-subtitle Shop our new arrivals from established brands
        .catalog-wrapper
            +cart({
                title: "title",
                img: "./img/catalog-1.jpg",
                oldPrice: "$229.00",
                price: "$129.00"
            })
            +cart({
                title: "title",
                img: "./img/catalog-1.jpg",
                oldPrice: "$229.00",
                price: "$129.00"
            })
            +cart({
                title: "title",
                img: "./img/catalog-1.jpg",
                oldPrice: "$229.00",
                price: "$129.00"
            })
            +cart({
                title: "title",
                img: "./img/catalog-1.jpg",
                oldPrice: "$229.00",
                price: "$129.00"
            })
section.catalog
    .container 
        h2.section-title MEN’S FASHION
        p.section-subtitle Shop our new arrivals from established brands
        .catalog-wrapper
            +cart({
                title: "title",
                img: "./img/catalog-2.jpg",
                oldPrice: "$229.00",
                price: "$129.00"
            })
            +cart({
                title: "title",
                img: "./img/catalog-2.jpg",
                oldPrice: "$229.00",
                price: "$129.00"
            })
            +cart({
                title: "title",
                img: "./img/catalog-2.jpg",
                oldPrice: "$229.00",
                price: "$129.00"
            })
            +cart({
                title: "title",
                img: "./img/catalog-2.jpg",
                oldPrice: "$229.00",
                price: "$129.00"
            })