section.tachen
    .container 
        .tachen-wrapper 
            .tachen-content 
                h6.main-content-tag OWN THE DAY
                h1.title TACHEN 19
                .main-content-buttons 
                    button.button SHOP COLLECTION