main.main 
    .container 
        .main-wrapper 
            .main-content 
                h6.main-content-tag NEW TREND
                h1.title COLLUSION
                p.main-content-subtext An exclusive selection of this season's trends.
                .main-content-buttons 
                    button.button DISCOVER
                    button.button SHOP NOW