section.styles 
    .container 
        h2.section-title AVONE STYLES
        p.section-subtitle Choose Your Favorite Color
        .styles-wrapper 
            .styles-block_left
                img(src="./img/styles-1.jpg", alt="")
            .styles-block_right
                img(src="./img/styles-2.jpg", alt="")
                .styles-block_small 
                    a.styles-link(href="#") SHOW WOMEN’S DRESS
                    img(src="./img/styles-3.jpg", alt="")