header.header 
    .container 
        .header-wrapper 
            a.logo(href="/w")
                img(src="./img/logo.png", alt="")
            nav.menu 
                    a.menu__link(href="#") HOME
                    a.menu__link(href="#") SHOP
                    a.menu__link(href="#") LOOKBOOK
                    a.menu__link(href="#") FEATURES
                    a.menu__link(href="#") PAGES
                    a.menu__link(href="#") BLOG
            .header-icons 
                a.header-icons__item(href="#")
                    <i class="fas fa-search"></i>
                a.header-icons__item(href="#")
                    <i class="fas fa-heart"></i>
                a.header-icons__item(href="#")
                    <i class="fas fa-shopping-cart"></i>