footer.footer   
    .container 
        .footer-wrapper 
            .footer-block
                a.logo(href="")
                    img(src="./img/logo.png", alt="") 
                .footer-block-wrapper 
                    .footer__text 
                    | We earned a reputation of being good at what we do. 
                    br
                    | Let us take your online shop to new dimension in 
                    br
                    | success!
                    .footer__adress 
                        svg.footer__adress-icon
                            use(xlink:href="./img/sprite.svg#location")
                        span Comilla, Bangladesh 3500
                    .footer-contact 
                        a.footer-contact__item(href="") kawsarahmed0210@gmail.com
                        hr
                        a.footer-contact__item(href="") 01647470457
                    .footer-social
                        a.footer-social__item(href="#")
                            <i class="fab fa-facebook"></i>
                        a.footer-social__item(href="") 
                            <i class="fab fa-instagram"></i>
                        a.footer-social__item(href="") 
                            <i class="fab fa-twitter"></i>
                        a.footer-social__item(href="") 
                            <i class="fab fa-linkedin"></i> 
            .footer-block
                h5.footer__title RECIVE EMAIL UPDATES
                .footer-block-wrapper 
                    form.footer-form(action="") 
                        input.footer-form__input(type="text" placeholder="Your Email Address")
                        button.footer-form__submit(type="submit") JOIN
                    .footer-menu 
                        .footer-menu-column
                            h6.footer-menu__title SHOP
                            .footer-menu-list
                                a(href="").footer-menu__item Shop
                                a(href="").footer-menu__item Collection
                                a(href="").footer-menu__item Outlet
                                a(href="").footer-menu__item Lookbook
                        .footer-menu-column
                            h6.footer-menu__title HELP
                            .footer-menu-list
                                a(href="").footer-menu__item FAQ
                                a(href="").footer-menu__item Privecy Policy
                                a(href="").footer-menu__item Tearms and conditions
                                a(href="").footer-menu__item Return and Exchanges
                        .footer-menu-column
                            h6.footer-menu__title ABOUT
                            .footer-menu-list
                                a(href="").footer-menu__item Journal
                                a(href="").footer-menu__item Our Story
                                a(href="").footer-menu__item Contact
                                a(href="").footer-menu__item Store Location
    .footer-bottom 
        a(href="") Copyright © 2020 . Your company name  All rights reserved 
