.catagory 
    .container 
        .catagory-wrapper
            .catagory__item.catagory__item-1 
                .catagory__item-hover 
                    a.button.button_white(href="") CATAGORY NAME
                img(src="./img/item-1.jpg", alt="")
            .catagory__item.catagory__item-2 
                .catagory__item-hover 
                    a.button.button_white(href="") CATAGORY NAME
                img(src="./img/item-2.jpg", alt="")
            .catagory__item.catagory__item-3 
                .catagory__item-hover 
                    a.button.button_white(href="") CATAGORY NAME
                img(src="./img/item-3.jpg", alt="")
            .catagory__item.catagory__item-4
                .catagory__item-hover 
                    a.button.button_white(href="") CATAGORY NAME
                img(src="./img/item-4.jpg", alt="")